discord_token: <Discord API Token>
timezone: Europe/Warsaw
language: pl

database:
  directory: ./.db

roles:
  privileged:
    - Admins

channels:
  announcements: '000000000000000000'
  monitored:
    - '000000000000000000'

battlenet:
  region: eu
  clientId: <Battle.Net client_id>
  clientSecret: <Battle.Net client_secret>
